<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="robot"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>

    <group ns="$(arg robot_name)">
        <!-- 加载机器人模型 -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find multi_robot_simulation)/urdf/diff_drive_robot.xacro' robot_name:=$(arg robot_name)" />

        <!-- 发布机器人状态 -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <remap from="robot_description" to="/$(arg robot_name)/robot_description"/>
        </node>
    </group>

    <!-- 在Gazebo中生成机器人 -->
    <node name="spawn_$(arg robot_name)" pkg="gazebo_ros" type="spawn_model" 
          args="-param /$(arg robot_name)/robot_description -urdf -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>